@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.view{
    width: 100%;
    height: fit-content;
    position: absolute;
    top: 0px;
    left: 0px;
}
/*--------------------WELCOME--------------------*/
.bodyWelcome{
    background-color: #6d9886;
}
#container{
    width: 600px;
    height: 400px;
    margin: 100px auto 0px auto;
    position: relative;
}
#logo{
    width: auto;
    height: calc(100% - 2px);
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: beige;
    border: 1px solid black;
}
#container form{
    width: 250px;
    position: absolute;
    right: 0px;
    background-color: beige;
    border: 1px solid black;
}
#signIn{
    top: 0px;
}
#signup{
    bottom: 0px;
}
#container form h3{
    margin: 13px auto 8px auto;
    width: fit-content;
}
#container form div{
    margin: 5px 3px;
}
.label{
    display: inline-block;
    width: 93px;
}
.input{
    box-sizing: content-box;
    width: 143px;
}
.submit{
    margin: 0px 5px 5px 5px;
    float: right;
    padding: 3px 5px;
}
/*--------------------PROFILE--------------------*/
.bodyProfile{
    color: #393e46;
    background-color: #facdc1;
    font-family: "Montserrat", sans-serif;  
}
/*--------------------HEADER--------------------*/
#tabHeader{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#nav_logo{
    cursor: pointer;
}
#nav_links{
    list-style: none;
}
#nav_links li{
    display: inline-block;
    padding: 0px 20px;
}
/*
#nav_links li a{
    transition: all 0.3s ease 0s;
}
*/
#nav_links li a:hover{
    color: #fa6c44;
    cursor: pointer;
    text-decoration: underline;
}
#nav_links li .active{
    color: #fa6c44;
}
#nav_links li .active:hover{
    cursor: pointer;
    text-decoration: none;
}
/*--------------------BODY--------------------*/
#tabcontainer{
    width: 900px;
    height: fit-content;
    margin: 25px auto;
    background-color: transparent;
    border-radius: 10px;
}
#Home, #Browse, #Account{
    display: none;
}
::placeholder{
    color:#fa6c44
}
.button{
    background: #faa38b;
    border: none;
    color: white;
    padding: 4px 11px;
    font-size: 14px;
    border-radius: 2px;
    width: fit-content;
    height: 30px;
    cursor: pointer;
}
/*--------------------USERCONTAINER--------------------*/
.usercontainer{
    display: flex;
    flex-direction: row;
    width: 900px;
    height:max-content;
}
.userInfo{
    width: 30%;
    height: fit-content;
    margin: 10px;
    padding: 20px;
    border-image: linear-gradient(90deg, #F875AA, #faa38b) 1;
    border-style: solid;
}
.postMessage{
    width: 70%;
    height: auto;
    margin: 10px;
}
.postArea{
    padding: 15px;
    background-color: white;
    height: calc(100% - 30px);
}
.postArea textarea{
    width: 100%;
    height: calc(100% - 30px);
    border: none;
    font-size: 14px;
    resize:vertical;
}
.postArea textarea:focus-visible{
    outline: none;
}
.postArea .post_button{
    float: right;
}

/*--------------------FEEDCONTAINER--------------------*/
.feedheader{
    padding: 0px 32px;
    width: calc( 100% - 64px);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.feedbox{
    margin: 10px auto;
    padding: 10px 32px;
    border-radius: 5px;
    background: #ffffff69;
    width: calc(100% - 64px);
    height: fit-content;
}
/*-------------------BROWSE--------------*/
#friendContainer, #friendFeedContainer {
    display: none;
}
.search-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.search-bar{
width: 100%;
max-width: 700px;
background: rgba(255, 255, 255, 0.489);
display: flex;
align-items: center;
border-radius: 60px;
padding: 10px 20px;
}
.search-bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 20px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: #faa38b;
    cursor: pointer;
}
.search-bar button img{
    width: 20px;
}
/*------------------Account----------------------------*/
.signout-nav{
    display: flex;
    justify-content: space-between;
}
.inputBox{
    position: relative;
    width: 250px;
    margin: 10px 0px;
}
.inputBox input{
    width: 100%;
    background: transparent;
    border: 2px solid #faa38b;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #fa6c44;
    transition: 0.5s;
}
.inputBox span{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #fa6c44;
    text-transform: uppercase;
}
.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: white;
    transform: translateX(10px) translateY(-7px);
    padding: 0 10px;
    background: #faa38b;
    border-left: 1px solid #faa38b;
    border-right: 1px solid #faa38b;
    font-size: 0.65em;
    letter-spacing: 0.2em;
}
/*--------------------DIVIDER--------------------*/
.lines{
    width: 100%;
    height: 35px;
    position: relative;
}
.lines::after, .lines::before{
    content: "";
    position: absolute;
    margin: auto;
    height: 2px;
    background: #faa38b;
    width: 45%;
    top: 45%;
}
.lines::after{
    left: 0;
}
.lines::before{
    right: 0;
}
.circle{
    height: 30px;
    width: 30px;
    border: 2px solid #faa38b;
    left:0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
}
/*--------------------FEEDBACK--------------------*/
.bodyWelcome #userMessages{
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    padding: 5px 20px;
    background-color: beige;
    border: 1px solid black;
    display: none;
}
.bodyProfile #userMessages{
    width: fit-content;
    height: fit-content;
    margin: 10px auto;
    padding: 5px 20px;
    background: #faa38b;
    border-radius: 10px;
    display: none;
}
